.list-group-item p {
    font-size: 16px;
}

body {
    background: #D4AF78;
    background: -webkit-linear-gradient(bottom right, #D4AF78, #5986BB);
    background: -moz-linear-gradient(bottom right, #D4AF78, #5986BB);
    background: linear-gradient(to top left, #D4AF78, #5986BB);
}